In [1]:
print('My name is Rajiv Nagesh')

My name is Rajiv Nagesh

In [2]:
x = input('Enter your name')
y=input('Enter your birthday')
print(x,"is born on",y)

Enter your nameRajiv Nagesh
Enter your birthday18/04/97
Rajiv Nagesh is born on 18/04/97

In [7]:
team_list = ['csk', 'mi', 'rcb', 'kxp', 'srh', 'rr', 'dd', 'kkr']
updated_teamlist = [team_list[0],team_list[7],team_list[4],team_list[5]]
print(updated_teamlist)

['csk', 'kkr', 'srh', 'rr']

In [10]:
x = input('Enter your name :')
print(x)
print(len(x))

Enter your name :Rajiv
Rajiv
5

In [11]:
n=int(input("Enter the number :"))
for i in range(1,21):
  print(n,"*",i,"=",n*i)

Enter the number :4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76
4 * 20 = 80

In [16]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
  print("{0} is Even number". format(num))
else:
  print("{0} is Odd number". format(num))

Enter a number: 4
4 is Even number

In [18]:
a=[34,87,892,920,974,893]
maximum=max(a)
print(maximum)
minimum=min(a)
print(minimum)
sum=sum(a)
length=len(a)
average=sum/length
print(average)

974
34
633.3333333333334

In [19]:
a=[9,56,826,784]
multiplied_list = [element * 5 for element in a]
print(multiplied_list)

[45, 280, 4130, 3920]

In [33]:
student={}

for i in range (2):
  roll_number = input("Enter the roll number : ")
  student_name = input("Enter the student name : ")
  student[roll_number] = student_name
print(student)

Enter the roll number : 1
Enter the student name : Rajiv
Enter the roll number : 2
Enter the student name : Raj
{'1': 'Rajiv', '2': 'Raj'}

In [40]:
def get_dictval(k): 
  return student.get(k)


x=input("Enter the roll number : ")
print(get_dictval(x))

Enter the roll number : 1
Rajiv